<!doctype html>
<html>

<head>
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js">
    </script>
    <script src="https://cdn.wilddog.com/sdk/js/2.5.2/wilddog.js"></script>
</head>

<body>
    <div ng-app="order" ng-init="level=fx" ng-controller="formCtrl">
        <h2>order</h2>
        <div>
            name:
            <input type="text" ng-model="name">
        </div>
        <div>
            tel:
            <input type="tel" ng-model="tel">
        </div>
        <div>
            addr:
            <input type="text" ng-model="addr">
        </div>
        <div>
            code:
            <input type="text" ng-model="code">
        </div>
        <div>
            leader:
            <input type="text" ng-model="leader">
        </div>
        <div>
            <div ng-repeat="item in level.list" ng-model="item">
                {{item.zh}}
                <input type="number" min="0" ng-model="item.quantity" ng-init="item.quantity=0" ng-change="caculate()">
            </div>
        </div>
        <div>
            level:
            <select ng-model="level" ng-options="level.zh for level in menu" ng-init="level = menu[0]" ng-change="levelChange(level)">
            </select>
        </div>
        <div ng-show="levelSelected">
            <button ng-click="generateOrder()">generateOrder</button>
        </div>
        cost:{{cost}} && number: {{number}}
        <div ng-show="generated">
            name:{{name}} </br> tel:{{tel}} \n addr: {{addf}} leader: {{leader}} level:{{level.zh}} coder: {{code}} order:
            <p ng-repeat="item in level.list">
                {{item.zh}} * {{item.quantity}}
            </p>
            cost: {{cost}}
        </div>
        <div>
        </div>
    </div>
    <script>
    var app = angular.module('order', []);

    app.controller('formCtrl', function($scope, $http) {

        $http({
            method: 'get',
            url: 'config/menu.json?shff',
        }).then(function successCallback(response) {
            $scope.menu = response.data;
        }, function errorCallback(res) {
            console.log(res)
        });

        //读取本地设置 TODO: 从野狗服务器读取数据

        $scope.levelSelected = false;
        $scope.generated = false;
        $scope.addItem = function(item) {
            $scope.orderlist.push(item)

        }

        $scope.levelChange = function(level) {
            $scope.pricelist = level.list;
            $scope.levelSelected = true;
        }

        $scope.cost = 0;
        $scope.number = 0;
        $scope.caculate = function() {
            var cost = 0;
            var number = 0;
            for (var i = 0, len = $scope.level.list.length; i < len; i++) {
                var order = $scope.level.list[i];
                cost += order.cost * order.quantity;
                number += order.quantity

            }
            $scope.cost = cost;
            $scope.number = number
        }

        $scope.generateOrder = function() {
            $scope.generated = true;
        }

    })

    // todo 2: 计算价格，生成订单文字
    // todo 3: 链接wilddog
    </script>
</body>

</html>
