<div class="row" ng-controller="caculatorCtrl">
    金额（￥）: 2446 级别：
    <select name="" id="" ng-option=""></select>
    <div class="col-md-3">
        <h3>丝柔系列</h3>
        <p>
            <label for="item_rs">
                z-S
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-M
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-L
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-XL
                <input type="number" value="0" min="0">
            </label>
        </p>
    </div>
    <div class="col-md-3">
        <h3>sb</h3>
        <p>
            <label for="item_rs">
                z-S
                <input type="number" value="0" min="0" disabled="">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-M
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-L
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-XL
                <input type="number" value="0" min="0">
            </label>
        </p>
    </div>
    <div class="col-md-3">
        <h3>fs</h3>
        <p>
            <label for="item_rs">
                z-S
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-M
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-L
                <input type="number" value="0" min="0">
            </label>
        </p>
        <p>
            <label for="item_rs">
                z-XL
                <input type="number" value="0" min="0">
            </label>
        </p>
    </div>
</div>
