<div class="panel panel-default">
    <h2 class="panel-heading">2017年3月29日</h2>
    <div class="panel-body">
        <div class="col-md-5">
            <h3>丝柔系列</h3>
            <p>r-s:1</p>
            <p>r-m:2</p>
            <p>r-l:6</p>
            <p>r-xl:1</p>
            <p>r-s:1</p>
            <p>r-m:2</p>
            <p>r-l:6</p>
            <p>r-xl:1</p>
        </div>
        <div class="col-md-5">
            <h3>其他信息</h3>
            <p>金额(￥)：2330</p>
            <p>姓名：{{name}}</p>
            <p>电话：{{tel}}</p>
            <p>地址：{{addr}}</p>
        </div>
    </div>
    <h2 class="panel-heading">2017年3月29日</h2>
    <div class="panel-body">
        <div class="col-md-5">
            <h3>丝柔系列</h3>
            <p>r-s:1</p>
            <p>r-m:2</p>
            <p>r-l:6</p>
            <p>r-xl:1</p>
            <p>r-s:1</p>
            <p>r-m:2</p>
            <p>r-l:6</p>
            <p>r-xl:1</p>
        </div>
        <div class="col-md-5">
            <h3>其他信息</h3>
            <p>金额(￥)：2330</p>
            <p>姓名：{{name}}</p>
            <p>电话：{{tel}}</p>
            <p>地址：{{addr}}</p>
        </div>
    </div>
</div>
